@blue:#5778C3;
@deepblue:#094E58;
@yellow: #ff933a;
@redLight:#f89587;
@warmyellow:#CDB9A6;
@cafeyellow:#92663D;
@green: #64cfbd;
@active: #64cfbd;
@greenLight: #ddf1e8;
@background:#f4f4f4;
@border: #C9CACA;
@div: #C9CACA;
@gray: #727171;